@import url('https://fonts.googleapis.com/css?family=Roboto|Poppins:500|Inconsolata');
body {
    background-color: #17242d;
    color: #eef1f2;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    margin-top: 63px;
}

h1, h2, h3, h4, h5, h6 {font-weight: 400;}
img, .button, nav * {user-select: none; -moz-user-select: none;}
code {font-family: 'Inconsolata', monospace; background-color: #12191f; padding: 4px}

a {
    text-decoration: none;
    outline: none;
}

p {
    color: rgba(255,255,255,.8);
}

a#more .fas {
    transition: transform .5s;
}

nav {
    padding: 1.2rem;
    background-color: #54338C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

nav a:not(.main) {
    font-size: .875em;
    color: rgba(255,255,255,.7);
    padding: 0 10px;
}

nav .main {
    color: white;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

header {
    min-height: 400px;
    background: #54338C url('bg.svg') no-repeat center center;
    background-size: cover;
    padding: 2em 1em;
    text-align: center;
}

header[minimal] {
    min-height: 200px;
}

header h1 {
    font: 500 1.9em 'Poppins', 'Roboto', sans-serif;
    margin-top: 0;
}

header h2 {
    max-width:550px;
    margin:1em auto;
    font-size: 1.3em;
}

.section {
    margin: 2em auto;
    padding: 0 2em;
    max-width: 700px;
}

.logged-in-ctx {
    padding: .1rem;
    background-color: #12191f;
    z-index: 10001;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: fixed;
    width: 200px;
    text-align: left;
    border-radius: 5px;
}

.logged-in-ctx .sep {
    height: 1px;
    background-color: rgba(255,255,255,.1);
    margin: 0 .5rem;
}

.logged-in-ctx a {
    margin: .75rem 1rem;
    padding: 0 !important;
    display: block;
    color: white;
    opacity: .7;
    font-size: .8em;
}

.button {
    margin: 6px 8px;
    padding: 12px 17px;
    border-radius: 4px;
    background-color: rgb(67, 181, 129);
    color: rgba(255,255,255,.8);
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-sizing: border-box;
}

.button:not(.default) {
    background-color: #283f4f;
}

header.hero .button {
    font-size: 1.05em;
    display: inline-block;
    overflow: hidden;
}

header .main-content {
    position: relative;
    top: 1.5em;
}

.cards-alt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 7em 0;
}

.card img {
    height: 86px;
    width: 86px;
    margin-right: 25px;
    flex: auto 0 0;
}

.card-alt {
    height: 370px;
    width: 270px;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    border: 3px solid #283f4f;
    border-radius: 5px;
    margin: 1rem;
}

.card-alt h3 {
    color: white;
}

.cards-alt a:hover {
    text-decoration: none !important;
}

.section h2 {
    font: 500 1.9em 'Poppins', 'Roboto', sans-serif;
    margin-top: 0;
}

.section h3 {
    font: 500 1.5em 'Poppins', 'Roboto', sans-serif;
    margin-top: 0;
}

.section h1 {
    font: 500 2em 'Poppins', 'Roboto', sans-serif;
}

.section p {
    margin-bottom: 0;
    font-size: 1.1em;
    line-height: 1.5em;
}

.section a:not(.button), footer a {
    /*color: #eef1f2;
    padding-bottom: 3px;
    border-bottom: 2px dotted;*/
    color: #4286f4;
}

.section a:not(.button):hover, footer a:hover {
    text-decoration: underline;
}

a.premium {
    color: #FFD700 !important;
    opacity: 1;
}

footer {
    background-color: #12191f;
    padding: 1.2rem;
    margin-top: 20px;
}

footer .content {
    max-width: 650px;
    margin: auto;
}

footer span {
    display: block;
    font-size: .9em;
}

.invite-banner, .banner {
    background-color: black;
    color: white;
    padding: .8rem;
    font-size: .9em;
    text-align: center;
}

.banner {
    background-color: rgb(52, 152, 219);
    color: white;
}

.banner a, .invite-banner a {
    color: white;
    text-decoration: underline;
}

.brand {
    padding: 8.5px;
    border-radius: 100px;
    background-color: black;
    color: white;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 5px;
    border-bottom: none;
    box-sizing: content-box;
}

.brand:nth-of-type(1) {
    margin-left: 0;
}

.brand.discord {
    background-color: #7289da;
    padding-left: 10.5px;
}

.brand.twitter {
    background-color: #1da1f2;
}

.brand.patreon {
    background-color: #f96854;
}

.brand.github {
    color: #333;
    background-color: white;
    padding-left: 10px;
    padding-right: 8px;
}

.brand.twitch {
    background-color: #54338C;
    padding-left: 11px;
    padding-right: 7.5px;
}

.brand.facebook {
    background-color: #3b5998;
    padding-left: 11px;
    padding-right: 7.5px;
}

.swal-modal {
    background-color: #17242d;
}

.swal-title {
    color: white;
    font-weight: 400;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.swal-text {
    color: #eef1f2;
}

.swal-button {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-shadow: none;
}

.swal-button:hover, .swal-button:active {
    background-color: #eef1f2;
}

.badge {
    background-color: #f04747;
    font-family: 500 15px 'Poppins', 'Roboto', sans-serif;
    padding: 1px 5px;
    border-radius: 5px;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
}

#upvote-count {
    background-color: white;
    color: black;
    margin-left: 3px;
    padding: 1px 5px;
    border-radius: 999px;
}

th {
    font-weight: 400;
    font-family: 'Poppins', 'Roboto', sans-serif;
    text-align: left;
}

th:not(:last-of-type) {
    border-right: 1px solid rgba(255,255,255,.5);
}

th, td {
    padding: .5rem;
}

td {
    color: rgba(255,255,255,.8);
}

td:not(:last-of-type) {
    font-family: 'Inconsolata', monospace;
}

*[only-mobile], .logged-in-ctx a[only-mobile] {
    display: none;
}

.tier {
    color: white;
    border: 1px solid rgba(255,255,255,.2);
    width: 250px;
    margin: 0 1rem;
    border-radius: 7px;
    vertical-align: top;
    display: inline-block;
}

.tier h3 {
    font-weight: 300;
    margin: 0;
    padding: 1rem 0;
    font-size: 1.5em;
}

.tier .item {
    padding: 1rem;
    border-top: 1px solid rgba(255,255,255,.1);
    opacity: .8;
    font-size: .9em;
}

.tier-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tier-2 .item {
    width: 250px;
    display: inline-block;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tier-2 .item .fas {
    color: #54338C;
    flex: 0 0;
    margin-right: 10px;
}

.tier-2 .item span {
    flex: 1 1;
    display: block;
    text-align: left;
}

.dark-wrapper {
    background-color: #12191f;
}

.dark-wrapper .section {
    margin: 0 auto;
}

.section h2 {
    text-align: center;
}

.shine-wrapper {
    display: inline-block;
}

.shine-btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
}

.shine {
    content:'';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform:translateX(100%);
    position: absolute;
    z-index: 0;
    animation: slide 3s infinite 2s;
    background: linear-gradient(130deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.3) 41%, rgba(255,255,255,0.3) 60%, rgba(128,186,232,0) 61%, rgba(125,185,232,0) 100%);
}

@media screen and (max-width: 540px) {
    *[no-mobile] {
        display: none;
    }

    *[only-mobile], .logged-in-ctx a[only-mobile] {
        display: block;
    }

    .card {
        flex-direction: column;
        text-align: center;
    }

    .card img {
        margin-right: 0;
    }

    header {
        padding-top: 30px;
        min-height: 300px;
    }

    h1 {
        font-size: 2em !important;
    }

    header h2 {
        font-size: 1.2em !important;
    }

    .section h2 {
        font-size: 1.5em !important;
    }

    .card {
        margin: 3em 0;
    }

    .card h3 {
        font-size: 1.25em;
    }

    .card p {
        font-size: 1.1em;
    }

    header p {
        margin-top: 1em !important;
    }

    .logged-in-ctx a {
        font-size: 1em;
    }

    footer {
        text-align: center;
    }
}

@keyframes slide {
	0% {transform:translateX(-100%);}
	30% {transform:translateX(100%);}
}
